/* Elementor */
.vc_row[data-vc-full-width] {
	position: relative;
	width: var(--seraph-accel-client-width) !important;
}

html:not([dir=rtl]) .vc_row[data-vc-full-width] {
	left: calc((100% - var(--seraph-accel-client-width)) / 2) !important;
	margin-left: 0 !important;
}

html[dir=rtl] .vc_row[data-vc-full-width] {
	right: calc((100% - var(--seraph-accel-client-width)) / 2) !important;
	margin-right: 0 !important;
}

.vc_row.wpb_row[data-vc-full-width]:not([data-vc-stretch-content="true"]), .vc_row.mpc-row[data-vc-full-width]:not([data-vc-stretch-content="true"]) {
	--pdd: calc((var(--seraph-accel-client-width) - (100% + 2*15px)) / 2);
	padding-left: var(--pdd) !important;
	padding-right: var(--pdd) !important;
}

.elementor-top-section.elementor-section-stretched[data-settings*="section-stretched"] {
	width: var(--seraph-accel-client-width) !important;
}

html:not([dir=rtl]) .elementor-top-section.elementor-section-stretched[data-settings*="section-stretched"] {
	left: calc(-1 * var(--lzl-strtch-offs-x)) !important;
}

html[dir=rtl] .elementor-top-section.elementor-section-stretched[data-settings*="section-stretched"] {
	right: calc(-1 * var(--lzl-strtch-offs-x)) !important;
}

body.seraph-accel-js-lzl-ing-ani .elementor-headline-dynamic-text.elementor-headline-text-active {
	opacity: 1;
}