/* GROVE Theme */
.grve-bg-image {
	opacity: 1 !important;
}

body.seraph-accel-js-lzl-ing-ani .grve-animated-item {
	animation-fill-mode: both;
	animation-duration: .8s;
}

body.seraph-accel-js-lzl-ing-ani .grve-fade-in-left {
	animation-name: grve_fade_in_left;
}

body.seraph-accel-js-lzl-ing-ani .grve-fade-in {
	animation-name: grve_fade_in;
}

body.seraph-accel-js-lzl-ing-ani .grve-fade-in-up {
	animation-name: grve_fade_in_up;
}
