
@font-face{
font-display:swap;font-family:Inter;font-style:normal;font-weight:300 900;font-display:fallback;src:url('http://localhost/shish-cafe/wp-content/plugins/woocommerce/assets/fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2');font-stretch:normal;}
@font-face{
font-display:swap;font-family:Cardo;font-style:normal;font-weight:400;font-display:fallback;src:url('http://localhost/shish-cafe/wp-content/plugins/woocommerce/assets/fonts/cardo_normal_400.woff2') format('woff2');}
