/* Divi */
.et_animated:not(.et_pb_sticky_placeholder,.dani-lzl) {
	opacity: 1 !important;
}

.et_pb_section_video_bg > video {
	height: 100%;
}

.et_pb_preload .et_pb_section_video_bg, .et_pb_preload > div {
	visibility: visible !important;
}

body:is(.seraph-accel-js-lzl-ing, .seraph-accel-js-lzl-ing-ani) .et_pb_gallery_grid .et_pb_gallery_item {
	display: block !important;
}

/* Slider */
/*.et_pb_slider:not([data-active-slide]) {
	height: 1px;
}*/

.et_pb_slider:not([data-active-slide]) .et_pb_slides,
.et_pb_slider:not([data-active-slide]) .et_pb_slide:first-child,
.et_pb_slider:not([data-active-slide]) .et_pb_slide:first-child .et_pb_container {
	height: 100%;
}