/* Shippori Antique B1   */
@font-face {
    font-family: 'Shippori Antique B1';
    src: url('./shippori/ShipporiAntiqueB1-Regular.eot');
    src: url('./shippori/ShipporiAntiqueB1-Regular.eot?#iefix') format('embedded-opentype'),
        url('./shippori/ShipporiAntiqueB1-Regular.woff2') format('woff2'),
        url('./shippori/ShipporiAntiqueB1-Regular.woff') format('woff'),
        url('./shippori/ShipporiAntiqueB1-Regular.ttf') format('truetype'),
        url('./shippori/ShipporiAntiqueB1-Regular.svg#ShipporiAntiqueB1-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Mona Sans  */
/* @font-face {
    font-family: 'Mona-Sans';
    src: url('./MonaSans/Mona-Sans-Light.eot');
    src: url('./MonaSans/Mona-Sans-Light.eot?#iefix') format('embedded-opentype'),
        url('./MonaSans/Mona-Sans-Light.woff2') format('woff2'),
        url('./MonaSans/Mona-Sans-Light.woff') format('woff'),
        url('./MonaSans/Mona-Sans-Light.ttf') format('truetype'),
        url('./MonaSans/Mona-Sans-Light.svg#Mona-Sans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('./MonaSans/Mona-Sans-Regular.eot');
    src: url('./MonaSans/Mona-Sans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./MonaSans/Mona-Sans-Regular.woff2') format('woff2'),
        url('./MonaSans/Mona-Sans-Regular.woff') format('woff'),
        url('./MonaSans/Mona-Sans-Regular.ttf') format('truetype'),
        url('./MonaSans/Mona-Sans-Regular.svg#Mona-Sans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('./MonaSans/Mona-Sans-Medium.eot');
    src: url('./MonaSans/Mona-Sans-Medium.eot?#iefix') format('embedded-opentype'),
        url('./MonaSans/Mona-Sans-Medium.woff2') format('woff2'),
        url('./MonaSans/Mona-Sans-Medium.woff') format('woff'),
        url('./MonaSans/Mona-Sans-Medium.ttf') format('truetype'),
        url('./MonaSans/Mona-Sans-Medium.svg#Mona-Sans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('./MonaSans/Mona-Sans-SemiBold.eot');
    src: url('./MonaSans/Mona-Sans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./MonaSans/Mona-Sans-SemiBold.woff2') format('woff2'),
        url('./MonaSans/Mona-Sans-SemiBold.woff') format('woff'),
        url('./MonaSans/Mona-Sans-SemiBold.ttf') format('truetype'),
        url('./MonaSans/Mona-Sans-SemiBold.svg#Mona-Sans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('./MonaSans/Mona-Sans-Bold.eot');
    src: url('./MonaSans/Mona-Sans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./MonaSans/Mona-Sans-Bold.woff2') format('woff2'),
        url('./MonaSans/Mona-Sans-Bold.woff') format('woff'),
        url('./MonaSans/Mona-Sans-Bold.ttf') format('truetype'),
        url('./MonaSans/Mona-Sans-Bold.svg#Mona-Sans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('./MonaSans/Mona-Sans-Black.eot');
    src: url('./MonaSans/Mona-Sans-Black.eot?#iefix') format('embedded-opentype'),
        url('./MonaSans/Mona-Sans-Black.woff2') format('woff2'),
        url('./MonaSans/Mona-Sans-Black.woff') format('woff'),
        url('./MonaSans/Mona-Sans-Black.ttf') format('truetype'),
        url('./MonaSans/Mona-Sans-Black.svg#Mona-Sans-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
} */


/* Monteserat  */

/* @font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Light.eot');
    src: url('./Monteserat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Light.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Light.woff') format('woff'),
        url('./Monteserat/Montserrat-Light.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Regular.eot');
    src: url('./Monteserat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Regular.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Regular.woff') format('woff'),
        url('./Monteserat/Montserrat-Regular.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Medium.eot');
    src: url('./Monteserat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Medium.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Medium.woff') format('woff'),
        url('./Monteserat/Montserrat-Medium.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-SemiBold.eot');
    src: url('./Monteserat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-SemiBold.woff2') format('woff2'),
        url('./Monteserat/Montserrat-SemiBold.woff') format('woff'),
        url('./Monteserat/Montserrat-SemiBold.ttf') format('truetype'),
        url('./Monteserat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Bold.eot');
    src: url('./Monteserat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Bold.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Bold.woff') format('woff'),
        url('./Monteserat/Montserrat-Bold.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Black.eot');
    src: url('./Monteserat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Black.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Black.woff') format('woff'),
        url('./Monteserat/Montserrat-Black.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
} */

* {
    font-family: 'Mona-Sans';
/* 	font-family: 'Merriweather Sans'; */
	font-weight: 400;
}

/* Plus Jakarta Sans */

/* @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-Light.eot');
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-Light.eot?#iefix') format('embedded-opentype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Light.woff2') format('woff2'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Light.woff') format('woff'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Light.ttf') format('truetype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Light.svg#./Plus_Jakarta_Sans/PlusJakartaSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-Regular.eot');
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Regular.woff') format('woff'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf') format('truetype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Regular.svg#./Plus_Jakarta_Sans/PlusJakartaSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-Medium.eot');
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Medium.woff') format('woff'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Medium.ttf') format('truetype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Medium.svg#./Plus_Jakarta_Sans/PlusJakartaSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.eot');
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.woff') format('woff'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf') format('truetype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.svg#./Plus_Jakarta_Sans/PlusJakartaSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-Bold.eot');
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Bold.woff') format('woff'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf') format('truetype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-Bold.svg#./Plus_Jakarta_Sans/PlusJakartaSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.eot');
    src: url('./Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.woff') format('woff'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.ttf') format('truetype'),
        url('./Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.svg#./Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
} */
/* 
@font-face {
    font-family: 'Ubuntu';
    src: url('./ubuntu/Ubuntu-Light.eot');
    src: url('./ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('./ubuntu/Ubuntu-Light.woff2') format('woff2'),
        url('./ubuntu/Ubuntu-Light.woff') format('woff'),
        url('./ubuntu/Ubuntu-Light.ttf') format('truetype'),
        url('./ubuntu/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./ubuntu/Ubuntu-Regular.eot');
    src: url('./ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('./ubuntu/Ubuntu-Regular.woff2') format('woff2'),
        url('./ubuntu/Ubuntu-Regular.woff') format('woff'),
        url('./ubuntu/Ubuntu-Regular.ttf') format('truetype'),
        url('./ubuntu/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('./ubuntu/Ubuntu-Medium.eot');
    src: url('./ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('./ubuntu/Ubuntu-Medium.woff2') format('woff2'),
        url('./ubuntu/Ubuntu-Medium.woff') format('woff'),
        url('./ubuntu/Ubuntu-Medium.ttf') format('truetype'),
        url('./ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('./ubuntu/Ubuntu-Bold.eot');
    src: url('./ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('./ubuntu/Ubuntu-Bold.woff2') format('woff2'),
        url('./ubuntu/Ubuntu-Bold.woff') format('woff'),
        url('./ubuntu/Ubuntu-Bold.ttf') format('truetype'),
        url('./ubuntu/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */